{% extends 'base.html' %}

{% block content %}

<p class="text-center headline" style="font-size:32px" style="font-family: 'Times New Roman', Times, serif;">Are you sure you want to delete {{ food }}</p>
<form method="POST" action="{% url 'delete_food' food.id %}" class="text-center" style="font-family: 'Times New Roman', Times, serif;">
	{% csrf_token %}
	<a href="{% url 'profile' %}" style="font-family: 'Times New Roman', Times, serif;">Cancel</a>
	<input type="submit" name="Confirm">
</form>

{% endblock content %}